*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Finlandica', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
#topo h3, h4{
    display: inline;
}
#topo h4{
    font-weight: normal;
}
#topo{
    padding: 25px;
}
#direita{
    float: right;
}
#direita h4{
    margin: 0px 15px;
}
#direita a{
    text-decoration: none;
    color: black;
}
#circulo{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
#conteudo{
    margin: 0 auto;
    padding-top: 150px;
    max-width: 1366px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#perfil{
    display: inline;
    
}
#perfil h1, img, p{
    display: inline;
    
}
#perfil #negrito{
    position: relative;
    top: -320px;
    margin-left: -130px;
    font-weight: bold;
}
#perfil #sobre{
    position: relative;
    display: block;
    top: -320px;
    left: 510px;
    max-width: 300px;
}
#perfil h1{
    position: relative;
    top: -400px;
    font-size: 100px;
    
}
#bolas{
    margin-left: 500px;
    margin-top: -300px;
}
#bolas a{
    color: black;
    text-decoration: none;
}
.bola{
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    text-align: center;
    line-height: 120px;
}
#bola1{
    background-color: orange;
}
#bola2{
    background-color: red;
}
#bola3{
    background-color: cyan;
}

/*PAGINA CURRICULO*/

#curriculo #ativo{
    color: orange;
}
#conteudo-curriculo{
    max-width: 1366px;
    margin: 0 auto;
    padding-top: 150px;
    
}
#conteudo-curriculo #esquerda{
    margin-left: 100px;
}
#conteudo-curriculo #esquerda h2{
    padding-top: 100px;
    width: 100px;
}
#conteudo-curriculo #direita{
    float: right;
    margin-right: 100px;
    margin-top: -50px;
}
.emprego{
    margin-top: 50px;
}

/*PÁGINA PROJETOS*/

#projetos #ativo{
    color: orange;
}
#conteudo-projetos{
    margin: 0 auto;
    max-width: 1366px;
    padding-top: 150px;
}
#conteudo-projetos #esquerda{
    margin-left: 100px;
}
.projeto{
    margin-top: 100px;
    margin-bottom: 300px;
}

/*PAGINA CONTATO*/

#contato #ativo{
    color: orange;
}
#contato-conteudo{
    margin: 0 auto;
    max-width: 1366px;
    padding-top: 150px;
}
#contato-conteudo #esquerda{
    margin-left: 100px;
}
#contato-conteudo h3{
    margin-top: 20px;
}
#contato-conteudo #direita{
    float: right;
    margin-right: 100px;
    width: 500px;
}
#direita input{
    width: 200px;
    height: 40px;
    margin: 20px;
    display: block;
}
#direita p{
    padding-left: 25px;
}
#bola4{
    background-color: orange;
    position: relative;
    top: -153px;
    left: 340px;
}